.attributes-container {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.attributes-header {
  margin-bottom: 20px;
}

.attribute-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
}