.class-list-container {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.class-name.meets-requirements {
    color: red;
}