.class-list-container {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.class-name.meets-requirements {
    color: red;
}

.class-name {
    &:hover {
        cursor: pointer;
    }
}

.class-list-reqs {
    list-style-type: none;
}
